<app-base-page></app-base-page>>
<div class="container" style="width:100%">

<head>
      <style>
        a:hover { text-shadow: 0 0 5px #ff0000; }
      </style>
</head>



       <h1 class="display-4" style="color: crimson; font-family: 'courier', cursive; font-size: 60px; font-weight: normal; line-height: 48px;margin-top:10px; margin-left:30%;text-align: left; text-shadow: 1px 1px 2px black;"><strong>Jaskiran Kaur</strong></h1>
        <br>
        <div class="container">
          <div class="jumbotron">
                <a class="btn btn-primary btn-lg" href="/about" role="button">About Me</a>
                <a style="margin-left:10px" class="btn btn-primary btn-lg" href="/services" role="button">Services</a>
                <a style="margin-left:10px" class="btn btn-primary btn-lg" href="/projects" role="button">Projects</a>
                <a style="margin-left:10px" class="btn btn-primary btn-lg" href="/contact" role="button">Contact Me</a><br>
                </div>
        </div>

        <div class="row" style="margin-left:25%">
          <div class="column">
            <h2 style="margin-left:7%">Hard Skills</h2>
                    <ul style="list-style-type:none; margin-left:3%">
        <li>Back-end technical Skills: C#, Java, Asp.net</li>
        <li>Front-end technical Skills: HTML, CSS, Bootstrap</li>
        <li>Databases: SQL, Oracle</li>
        <li>Server-side technologies: JSP/Servlets</li>
        <li>REST API Development</li>
        <li>Logic development and algorithm making</li>
        <li>Knowledge about SDLC</li>
        <li>Project Management skills<li>
        </ul>
          </div>
          <div class="column" style="margin-top:5%">
           <img src="assets/images/Profile.jpg" height="200px" width="200px" style="margin-left:70%"/>
          </div>
        </div>

        <div class="row" >
          <div class="column" style="margin-left:25%">
            <h2 style="margin-left:10%">Soft Skills</h2>
                    <ul style="list-style-type:none;margin-left:3%">
        <li>Quick Learner</li>
        <li>Self-Motivated</li>
        <li>Databases: SQL, Oracle</li>
        <li>Good Time-Management abilities</li>
        <li>Problem-Solver</li>
        <li>Efficient Decision Making</li>
        <li>Flexible</li>
        <li>Responsible<li>
        </ul>
          </div>
          <div class="column">
            <h2 style="margin-right:2px;margin-left:250px">Jaskiran Kaur</h2><br>
           <a href="assets/images/Jaskiran Kaur.pdf" target="_blank"  style="margin-left:300px">Click Here</a>
          </div>
        </div>


  </div>
