<app-base-page></app-base-page>

<head>
<style>

label{
  text-shadow: 1px 1px 0.5px black;
}

.bordered {
padding: 20px;
border: 1px solid black;
border-radius: 8px;
text-shadow: 1px 1px 0.5px black;
}

</style>
</head>
<br>
<div class="container">
  <div class="jumbotron">
        <a class="btn btn-primary btn-lg" href="/about" role="button">About Me</a>
        <a style="margin-left:10px" class="btn btn-primary btn-lg" href="/services" role="button">Services</a>
        <a style="margin-left:10px" class="btn btn-primary btn-lg" href="/projects" role="button">Projects</a>
        <a style="margin-left:10px" class="btn btn-primary btn-lg" href="/contact" role="button">Contact Me</a><br>
        </div>
</div>

<div class="container">
  <div class="jumbotron">
<h1>Changes call for innovation,innovation leads to progress. </h1><br>
<p>We are providing services like website building, mobile apps etc. using latest technologies. </p>

</div>
</div>
