<app-base-page></app-base-page>
<!-- Jaskiran (300978743)-->
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">

<br>

<table class="table table-bordered table-striped table-hover">
    <tr>
        <th class="text-center">Project Name</th>
        <th class="text-center">Description</th>
        <th class="text-center">Images</th>
        <th class="text-center">Status</th>


    </tr>
        <tr >
            <td class="text-center" width="40%">Patients API</td>
            <td class="text-center" width="40%">RESTful API using ASP.NET MVC technology and Deployed on AWS</td>
            <td class="text-center" width="40%"><img src="assets/images/jk-new.png" height="100px" width="100px"/></td>
            <td class="text-center" width="40%">Completed</td>

        </tr>

         <tr>
            <td class="text-center" width="40%">TollSoft</td>
            <td class="text-center" width="40%">A Website to pay toll tax and see various routes using C#</td>
            <td class="text-center" width="40%"><img src="assets/images/jk-new.png" height="100px" width="100px"/></td>
            <td class="text-center" width="40%">Completed</td>
        </tr>

       <tr>
            <td class="text-center" width="40%">Easy Wings</td>
            <td class="text-center" width="40%">Online Flight Booking Website using Angular.js as a Front-end Technology</td>
             <td class="text-center" width="40%"><img src="assets/images/jk-new.png" height="100px" width="100px"/></td>
             <td class="text-center" width="40%">In Progress..</td>

        </tr>
</table>
            </div>
        </div>
    </div>

