<app-base-page></app-base-page>
<!--
Name: JasKiran Kaur
Student ID:
-->


  <h2 style="text-align:center">Services provided by Jaskiran Kaur</h2>

  <div class="container">
    <div class="jumbotron">
          <a class="btn btn-primary btn-lg" href="/about" role="button">About Me</a>
          <a style="margin-left:10px" class="btn btn-primary btn-lg" href="/services" role="button">Services</a>
          <a style="margin-left:10px" class="btn btn-primary btn-lg" href="/projects" role="button">Projects</a>
          <a style="margin-left:10px" class="btn btn-primary btn-lg" href="/contact" role="button">Contact Me</a><br>
          </div>
  </div>

<div>
  <img src="assets/images/digimark.jpg" height="400" widht="400" border:4 border-style="solid" style="float:left" />
  <img src="assets/images/mobdev.jpg" height="400" widht="400" border:4 border-style="solid" style="margin-left:150px" />
  <img src="assets/images/webdesign.png"  height="400" widht="400" border:4 border-style="solid" style="float:right" />
</div>
